@import "partials/reset";
@import "partials/colors";
@import "partials/fonts";
@import "partials/mixins";
@import "partials/animations";
@import "partials/spacings";
@import "partials/buttons";


html {
  scroll-behavior: smooth;
  header {
    background-color: $bg_header;
  
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #af6bfd;
      position: sticky;
      top: 0;
      z-index: 999;
  
      img {
        border-radius: 40px;
        box-shadow: 0px 5px 24px 0px #000000;
      }
      ul {
        display: flex;
        gap: 10px;
        li {
          list-style-type: none; 
          a {
            font-family: $font;
            text-decoration: none;
            color: $testo;
            font-size: $fs-md;
            font-weight: bold;
            transition: color 0.5s ease-in;
            &:hover {
              color: $bg_header;
            }
          }
        }
      }
    }
    .container1 {
      @include fade-in(fade-in, 1s,  forwards, 0.1s);
      h1 {
        @include title-big;
        font-family: $font;
        text-align: center;
      }
      .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        @include fade-in(fade-in, 1s, forwards, 0.4s);
        p {
          text-align: left;
          width: 500px;
          color: $testo;
          line-height: 1.5;
          font-family: $font;
          font-size: $fs-md;
        }
        img {
          @include floating (15px, 0 10px 20px, 1px solid yellow);
          object-fit: cover;
          @include fade-in(fade-in, 1s, forwards, 0.8s);
        }
      }
      .buttons {
        text-align: center;
  
        button {
          @include fade-in(fade-in, 1s, forwards, 1s);
  
        }
      }
  
    }
  }
  
  main {
    display: flex;
    justify-content: center;
    
    .container4 {
      @include grid (3);
      .container5 {
        img {
          border-radius: 15px;
          object-fit: cover;
          border: 2px solid violet;
          box-shadow: 0px 5px 24px 0px #000000;
        }
      }
    }

  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }  
}
